<section class="product-blicksolutions">
  <div class="page-width">
    <div class="pdp-wrapper">
      <!-- Work In Progress -->
    </div>
  </div>
</section>

{% schema %}
{
  "name": "PDP Blicksolutions",
  "tag": "section",
  "class": "section-pdp",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "PDP Blicksolutions"
    }
  ]
}
{% endschema %}
